.step(data-title='How It Works', data-file='app/User.php', data-highlight='')
  :markdown
    ## About this application

    This [PHP](//php.net/) [Laravel](//laravel.com/) sample application is an
    example of typical login flow. To run this sample
    app yourself, [download the code and follow the instructions on
    GitHub](//github.com/TwilioDevEd/authy2fa-laravel).

    Adding two-factor authentication (2FA) to your web application increases the 
    security of your user's data. [Multi-factor authentication](//en.wikipedia.org/wiki/Multi-factor_authentication) 
    determines the identity of a user by validating once by logging into the app, 
    and second by validating their mobile device.

    For the second factor, we will validate that the user has their mobile phone by either:
    * Sending them a OneTouch push notification to their mobile Authy app or
    * Sending them a token through their mobile Authy app or
    * Sending them a one-time token in a text message [sent with Authy via Twilio](//www.authy.com/). Here's how this works at a high level:

    ![2FA High Level](//s3.amazonaws.com/howtodocs/2fa-high-level.png)

    Let's get started! Click the right arrow above to move to the next step
      of the tutorial.

    ---

    **See Also:**
    * [Getting Started with Laravel](//laravel.com/docs/5.1)
    * [PHP Client for Authy](//github.com/authy/authy-php)
    * [Laravel Basic Authentication](//laravel.com/docs/5.1/authentication#authentication-quickstart)


.step(data-file='.env.example', data-highlight='10')
  :markdown
    ## Configuring Authy

    If you haven't already, now is the time to [sign up for Authy](//dashboard.authy.com/signup).
    Create your first application, naming it whatever you wish. After you create your application, 
    your "production" API key will be visible on your [dashboard](//dashboard.authy.com):

    ![Authy Dashboard](//s3.amazonaws.com/howtodocs/2fa-authy-dashboard.png)

    Once we have an Authy API key, we store it in this 
    .env file. 

    Now that we've configured our Laravel app, let's take a look at how we 
    register a user with Authy.

    ---

      **See Also:**
      * [Managing Environment Variables in Laravel](//laravel.com/docs/5.0/configuration#environment-configuration)
      * [StackOverflow: Installing the Postgres driver for Mac](//stackoverflow.com/questions/61747/installing-pdo-drivers-for-postgresql-on-mac-using-zend-for-eclipse#answer-1286153)
      * [Better debugging for Laravel](//github.com/barryvdh/laravel-debugbar)
